<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1>Welcome back!</h1>
<p><%= "Here are your music listening stats #{@spotify_user.display_name.split(' ').first}:" %></p>
<p><%= link_to "Play History", spotify_play_history_path %></p>
<p><%= link_to "Recently Played", spotify_recently_played_path %></p>
<p><%= button_to "Generate Top Tracks Playlist (short term)", spotify_generate_top_songs_playlist_path, method: :get, params: { time_range: 'short_term' } %></p>
<p><%= button_to "Generate Top Tracks Playlist (medium term)", spotify_generate_top_songs_playlist_path, method: :get, params: { time_range: 'medium_term' } %></p>
<p><%= button_to "Generate Top Tracks Playlist (long term)", spotify_generate_top_songs_playlist_path, method: :get, params: { time_range: 'long_term' } %></p>
<div>
  <div style="width: 33.33%; float: left">
    <h2>Top Genres:</h2>
    <ul>
      <% @top_genres.each do |genre|%>
        <li><%= genre %></li>
      <% end %>
    </ul>
  </div>

  <div style="width: 33.33%; float: left">
    <h2>Top Artists:</h2>
    <ul>
      <% @top_artists.each do |artist|%>
        <li><%= artist.name %></li>
      <% end %>
    </ul>
  </div>

  <div style="width: 33.33%; float: left">
    <h2>Top Tracks:</h2>
    <ul>
      <% @top_tracks.each do |track|%>
        <li><%= track.name %></li>
      <% end %>
    </ul>
  </div>
</div>