<h1>Welcome back!</h1>
<p><%= "Here are your music listening stats #{@spotify_user.display_name.split(' ').first}:" %></p>
<p><%= link_to "Play History", spotify_play_history_path %></p>
<p><%= link_to "Recently Played", spotify_recently_played_path %></p>
<div>
  <div style="width: 33.33%; float: left">
    <h2>Top Genres:</h2>
    <ul>
      <% @top_genres.each do |genre|%>
        <li><%= genre %></li>
      <% end %>
    </ul>
  </div>

  <div style="width: 33.33%; float: left">
    <h2>Top Artists:</h2>
    <ul>
      <% @top_artists.each do |artist|%>
        <li><%= artist.name %></li>
      <% end %>
    </ul>
  </div>

  <div style="width: 33.33%; float: left">
    <h2>Top Tracks:</h2>
    <ul>
      <% @top_tracks.each do |track|%>
        <li><%= track.name %></li>
      <% end %>
    </ul>
  </div>
</div>